<div class="dialog-container">
  <div class="dialog-content">
    <div class="dialog-message" [ngClass]="{'warning': buttonObj.type === 'warning',
                                              'error': buttonObj.type === 'error',
                                              'info': buttonObj.type === 'info',
                                              'success': buttonObj.type === 'success'}">
      {{ buttonObj.message }}
    </div>
    <div class="dialog-buttons">
      <button *ngIf="buttonObj.leftButton.type === 'close'" (click)="action(buttonObj.leftButton)">
        {{ buttonObj.leftButton.text }}
      </button>
      <button *ngIf="buttonObj.rightButton.type === 'confirm' || buttonObj.rightButton.type === 'navigate'" (click)="action(buttonObj.rightButton)">
        {{ buttonObj.rightButton.text }}
      </button>
    </div>
  </div>
</div>
