<div class="mat-dialog-container">
    <div class="icon-container">
        <div class="icon-style" *ngIf="icon && icon.length > 0" [innerHTML]="icons">
        </div>
    </div>
    <mat-dialog-content class="mat-content-container">
        <p class="content-description">
            {{ message }}
        </p>
    </mat-dialog-content>
    <mat-dialog-actions class="mat-actions-container">
        <button mat-raised-button class="left-button"  
                [ngClass]="{'left-button-alone': !rightButtonText || rightButtonText.length === 0}" 
                [mat-dialog-close]> {{ leftButtonText }}
        </button>
        <button *ngIf="rightButtonText && rightButtonText.length > 0" class="right-button" mat-raised-button  (click)="onAction()">{{ rightButtonText }}</button>
    </mat-dialog-actions>
</div>
